.reveal section.title h1 {
	margin-top: 1em;        
}


.reveal .footer {
  position: absolute;
  bottom: 1em;
  left: 0;
  font-size: 0.4em;
  color: gray;
}



.slide-content{
  text-align: left;
  
}

.reveal{
  background-color: white;
  
}

div.title, caption.title{
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

/*
.reveal{
  background-color: white;
}

*/

.reveal .exampleblock{
  background-color: #fff5a6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.reveal .admonitionblock .content{
  background-color: #fff5a6;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}


.reveal .sidebarblock{
  background-color: #E1E1E1; 
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

